# Системные файлы и логи
*.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# IDE и редакторы
/.idea/
/backend/.cursor/
/backend/.nova/
/backend/.vscode/
/backend/.zed/

# Кэш и служебные файлы разработки бэкенда
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/.codex
/backend/.phpunit.cache
/backend/_ide_helper.php

# Секреты и бэкапы окружения
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/auth.json
/backend/storage/*.key

# Зависимости (Vendor & Node_modules)
backend/vendor/
frontend/node_modules/

# Публичные файлы сборки Laravel и линки
/backend/public/build
/backend/public/fonts-manifest.dev.json
/backend/public/hot
/backend/public/storage
/backend/storage/pail

# Директория сборки фронтенда (Vite / Vue)
frontend/dist/

frontend/.env.production